* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f4f1ee;
  overflow-x: hidden;
  padding-top: 40px;
}


.navbar {
  width: 100%;
  padding: 36px 0;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #e6e4e3;
  border-radius: 999px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.nav-links {
  display: flex;
  gap: 44px;
}

.nav-links a {
  text-decoration: none;
  color: #2f2f2f;
  font-size: 17px;
  font-weight: 500;
}

.nav-links a:hover {
  color: #d64545;
}

/* bonequinho */
.user-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-circle:hover {
  background: #d64545;
  transform: scale(1.08);
}
