
/* parte de texto */
.hero {
  padding: 70px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.hero-text {
  max-width: 640px;
}

.hero-text h1 {
  font-size: 78px;
  font-weight: 700;
  line-height: 1.12;
}

.hero-text p {
  margin-top: 22px;
  font-size: 16px;
  color: #555;
}

/* carrocel  */
.hero-carousel {
  width: 500px;
  height: 500px;
  flex-shrink: 0;
}

.hero-carousel .carousel,
.hero-carousel .carousel-inner,
.hero-carousel .carousel-item {
  width: 100%;
  height: 100%;
}

.hero-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}
